/*----------------------------------------------------------------------*/

/* importing sinhala fonts */
@import url(//fonts.googleapis.com/earlyaccess/notosanssinhala.css);

/*----------------------------------------------------------------------*/

/*Custom Bootstrap Additions*/

/* change the background color nav bar */
.bg-company-red {
  background-color: #f1f2f6;
  background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
}

/*----------------------------------------------------------------------*/

/* Home Page */

.content-grid {
  display: flex;
  justify-content: space-between;
}
/* Image Grid */
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.flex-container > div {
  background-color: gray;
  width: 25rem;
  height: 10rem;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.img1 {
  content: url("../img/building.jpg");
}

/*----------------------------------------------------------------------*/

/* Login Page (Admin and User)*/
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid f1f1f1;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbtn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.loginbtn:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.formcontainer {
  padding: 16px;
}

/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
