/* Home Page */
.row {
  display: flex;
  flex-wrap: wrap-reverse;
}
.left.container.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.left > div {
  height: 120px;
  text-align: center;
  width: 80%;
  transition: all 0.3s ease;
}

.bg-trance {
  background-color: #dbcbd8;
  background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);
}

.left .container {
  opacity: 0.8;
}

.left .container:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.right img {
  max-width: 100%;
  height: auto;
  padding-top: 2em;

  opacity: 0.7;
}

.home-text-paragragh{
  font-size: 1.2em;
}