form {
  border: white;
}
.input-group-text {
  padding-top: 0;
}
.form-container {
  padding-left: 20px;
  padding-right: 20px;
}

.info-hover {
  position: relative;
}

.info-hover .info-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.info-hover .info-text::after {
  content: "";
  position: absolute;
  top: 12%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.info-hover:hover .info-text {
  visibility: visible;
  opacity: 1;
}
